{% extends 'base.html.twig' %}
{% block body %}
    {% embed 'menu.html.twig' %}
        {% block content %}
            <div class="card">
                <!-- TITULO -->
                      <div class="card-header">
                      <h4 class="card-title">Contraseña</h4>
                      </div>

                      <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                
                            {{form_start (formPassword) }}
                            {{form_end (formPassword) }}
                            {{message}}

                            </div>
                          </div>
                      </div>
            </div>
    
        {% endblock %}
    {% endembed %}
{% endblock %}

