{% extends 'base.html.twig' %}
{% block body %}
    {% embed 'menu.html.twig' %}
        {% block content %}
            <h3>Lorem</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet iaculis justo, ut pharetra lacus convallis ut. Curabitur est diam, maximus ut mollis ut, tincidunt et enim. Proin ligula arcu, pharetra semper facilisis vitae, pharetra sit amet sapien. Phasellus vitae faucibus urna. Cras in gravida lacus. Suspendisse tincidunt feugiat nisi eget feugiat. Nunc felis tortor, fermentum eget nibh vehicula, laoreet gravida augue. Ut hendrerit sollicitudin mattis. Fusce in venenatis velit, sed hendrerit felis. Duis ut tincidunt mi. Etiam lorem mauris, suscipit vel lectus ac, dapibus commodo lacus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet iaculis justo, ut pharetra lacus convallis ut. Curabitur est diam, maximus ut mollis ut, tincidunt et enim. Proin ligula arcu, pharetra semper facilisis vitae, pharetra sit amet sapien. Phasellus vitae faucibus urna. Cras in gravida lacus. Suspendisse tincidunt feugiat nisi eget feugiat. Nunc felis tortor, fermentum eget nibh vehicula, laoreet gravida augue. Ut hendrerit sollicitudin mattis. Fusce in venenatis velit, sed hendrerit felis. Duis ut tincidunt mi. Etiam lorem mauris, suscipit vel lectus ac, dapibus commodo lacus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet iaculis justo, ut pharetra lacus convallis ut. Curabitur est diam, maximus ut mollis ut, tincidunt et enim. Proin ligula arcu, pharetra semper facilisis vitae, pharetra sit amet sapien. Phasellus vitae faucibus urna. Cras in gravida lacus. Suspendisse tincidunt feugiat nisi eget feugiat. Nunc felis tortor, fermentum eget nibh vehicula, laoreet gravida augue. Ut hendrerit sollicitudin mattis. Fusce in venenatis velit, sed hendrerit felis. Duis ut tincidunt mi. Etiam lorem mauris, suscipit vel lectus ac, dapibus commodo lacus.</p>
            
        {% endblock %}
    {% endembed %}
{% endblock %}

